.some-class {
  min-height: 100vh;
  background: transparent;
}

#about {
    min-height: 100vh;
    background-color: white;
}

h1 {
    font-size: 100px;
    color: white;
}

body {
    font-family: 'Fjalla One', sans-serif;
    font-weight: 900;
    color: white;
}

#name {
    font-size: 3.0em;
    font-family: 'Pacifico', cursive;
    text-shadow: 0px 0px 18px rgba(0, 0, 0, 1);
}

.row {
    text-align: center;
}

h2 {
    font-size: 30.5px
}

.nameHeader {
    padding-top: 35%;
}
