html {
    height: 100%;
}

body {
    font-family: 'Fjalla One', sans-serif;
    font-weight: 900;
    color: gray;
    background-image: url(https://static.pexels.com/photos/688660/pexels-photo-688660.jpeg);
    background-size: cover;
    background-position: center;
    min-height: 100%;
}

html {
    height: 100%;
}

body {
    font-family: 'Fjalla One', sans-serif;
    font-weight: 900;
    color: gray;
    background-image: url(https://static.pexels.com/photos/688660/pexels-photo-688660.jpeg);
    background-size: cover;
    background-position: center;
    min-height: 100%;
}

.col-lg-5 {
    background-color: transparent;
    height: 100vh;
}

.rightSide {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9f9f9+0,f9f9f9+51,ffffff+100&0+0,1+51,1+100 */
    background: -moz-linear-gradient(left, rgba(249,249,249,0) 0%, rgba(249,249,249,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(249,249,249,0) 0%,rgba(249,249,249,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(249,249,249,0) 0%,rgba(249,249,249,1) 51%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00f9f9f9', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 */
}

.leftSide {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9f9f9+0,f9f9f9+51,ffffff+100&1+0,1+51,0+100 */
    background: -moz-linear-gradient(left, rgba(249,249,249,1) 0%, rgba(249,249,249,1) 51%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(249,249,249,1) 0%,rgba(249,249,249,1) 51%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(249,249,249,1) 0%,rgba(249,249,249,1) 51%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}

.col-lg-11 {
    height: 100vh;
    background-color: #f9f9f9
}

.aboutRow {
    min-height: 35%;
}

.aboutRowSpace {
    min-height: 15%
}

.idPhoto {
    height: 120px;
}

.aboutContent {
    margin-left:15%;
    width: 100%;
}

h4 {
    font-size: 35px;
    margin-top: 20px;
    letter-spacing: 3px;
    margin-left: 15px
}

hr {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2)
}

.aboutRowSpace {
    width: 100%;
    align-content: right;
    padding-right: 10px;
}

.fa-chevron-right {
    padding-left: 100%;
    padding-top: 25px;
    height: 100px;
    font-size: 40px;
    color: gray;
}

.arrow {
    width: 100%;
}

.animsition-overlay-slide {
    background-color: #f9f9f9;
}
